* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.sidebar {
    display: none;
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: #b84a00;
    z-index: 3;
}

.center-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    width: 85%;
    height: 16%;
    border-radius: 100%;
    position: absolute;
    top: 23%;
    transform: translateY(-13%);
    margin: 0 2%;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(178 178 178);


}

.menu h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    margin: 3px 0;
    font-weight: lighter;
    transition: all 0.5s ease-in-out;


}

.selected {
    color: white;
}








.nav {
    background-color: #b84a00;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-words {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 500;


}

.nav-words span {
    color: #ff8534;
    text-shadow: 0 0 2px rgba(225, 225, 225, 0.5);
}

.botao {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.botao i {
    font-size: 25px;
    color: #ff8534;
}