* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.sidebar {
    display: none;
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: #b84a00;
    z-index: 3;
}

.center-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    width: 85%;
    height: 16%;
    border-radius: 100%;
    position: absolute;
    top: 23%;
    transform: translateY(-13%);
    margin: 0 2%;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(178 178 178);


}

.menu h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    margin: 3px 0;
    font-weight: lighter;
    transition: all 0.5s ease-in-out;


}

.selected {
    color: white;
}








.nav {
    background-color: #b84a00;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-words {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 500;


}

.nav-words span {
    color: #ff8534;
    text-shadow: 0 0 2px rgba(225, 225, 225, 0.5);
}

.botao {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.botao i {
    font-size: 25px;
    color: #ff8534;
}

.content {
    width: 100%;
    height: 100vh;
}


.area {
    display: none;
    position: absolute;
    top: 40%;
    left: calc(50% - 122px);
    transform: translateY(-50%);
    width: 250px;
    height: 200px;
    z-index: -1;
}
.arealaptop{
    display: none;
}


.visivel {
    display: block;

}

.area h3 {
    margin-top: 5px;
    font-size: 13px;
}

.area span {
    font-weight: lighter;
}

.area img {
    width: 245px;
    height: 200px;
    border-radius: 10px;
    filter: blur(1px);
}

.play {
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: 3;

}

.play i {
    font-size: 50px;
}

.content a {
    text-decoration: none;
    color: #ff8534;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

.content .seta {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 41%;
    left: 89%;
    transform: translateY(-100%);
}

.content .setaatras {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 41%;
    left: 1%;
    transform: translateY(-100%);
    z-index: -1;
}


.text-content {
    margin-top: 15px;
    margin-left: 4%;
    font-weight: 700;
    cursor: pointer;
}

.text-content::after {
    content: "";
    display: block;
    width: 180px;
    height: 3px;
    border-radius: 3px;
    background-color: #ff8534;
}

.curso {
    margin-top: 90%;
    color: #ff8534;
    font-family: "Poppins", sans-serif;

}

.curso::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #ff8534;
    border-radius: 3px;
}

.caixa-total {
    width: 100%;




}

.atras {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-left: 1%;
    z-index: 0;
    cursor: pointer;
}

.prox {
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 1%;
    cursor: pointer;

}

.caixa-foto {
    display: flex;
    overflow-x: auto;


}


.caixa-foto img {
    height: 194px;
    width: 290px;
    margin: 10px 10px;
    border-radius: 5px;

}



.centra-foto-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centra-foto-texto h3 {
    font-size: 17px;
    color: rgb(94, 94, 94);
    transition: all 0.4s ease-in-out;

}

.centra-foto-texto h3:hover {
    color: black;
    cursor: pointer;

}

.centra-foto-texto h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;

}

.centra-foto-texto p {
    margin-top: -5px;
    font-size: 13px;
    width: 185px;
}



@media screen and (min-width:375px) {
    .area {
        display: none;
        position: absolute;
        top: 40%;
        left: calc(50% - 146px);
        transform: translateY(-50%);
        height: 200px;
        z-index: -1;
    }


    .area img {
        width: 285px;

    }

    .visivel {
        display: block;

    }

    .play {

        left: 47%;
    }

    .curso {
        margin-top: 75%;
    }


}

@media screen and (min-width:425px) {
    .area {
        display: none;
        position: absolute;
        top: 40%;
        left: calc(50% - 173px);
        transform: translateY(-50%);
        height: 200px;
        z-index: -1;
    }


    .area img {
        width: 338px;

    }

    .visivel {
        display: block;

    }

    .play {

        left: 58%;
    }

    .curso {
        margin-top: 66%;
    }

    @media screen and (min-width:768px) {
        .area {
            display: none;
            position: absolute;
            top: 40%;
            left: calc(50% - 173px);
            transform: translateY(-50%);
            height: 200px;
            z-index: -1;
        }


        .area img {
            width: 338px;

        }

        .visivel {
            display: block;

        }

        .play {

            left: 58%;
        }

        .curso {
            margin-top: 33%;
        }
        .prox{
            left:558px
        }
        .atras{
            left:160px
        }
        .sidebar img{
        
                width: 149px;
                height: 131px;
            
        }
        .menu{
            top:52%
        }
        .menu h3{
            font-size: 17px;
        }
    }


}
@media screen and (min-width:1024px) {
    .area{
        display: none;
    }
    .laptorow{
        display: flex;
        justify-content: center;
    }
    .arealaptop{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        margin: 10px 20px;
    }
    .prox{
        display: none;
    }
    .atras{
        display: none;
    }

    .play1 i{
        font-size: 40px;
    }
    .play2 i{
        font-size: 40px;
    }
    .play3 i{
        font-size: 40px;
    }
    .sidebar{
        width: 17%;
    }

    .play1{
        position: relative;
        left: 43%;
        top: 32%;
    }
    .play2{
        position: relative;
        left:43%;
        top: 32%;
    }
    .play3{
        position: relative;
        left:43%;
        top: 32%;
    }
    .curso{
        margin-top: -3%;
    }
    .arealaptop img{
        border-radius: 20px;
    }
    .arealaptop h3{
        margin-top: 1px;
        font-size: 17px
    }
   
    
}