* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.sidebar {
    display: none;
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: #b84a00;
    z-index: 3;
}

.sidebar img {
    width: 85%;
    height: 16%;
    border-radius: 100%;
    position: absolute;
    top: 23%;
    transform: translateY(-13%);
    margin: 0 2%;
}

.center-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(178 178 178);
}

.menu h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    margin: 3px 0;
    font-weight: lighter;
    transition: all 0.5s ease-in-out;


}

.selected {
    color: white;
}

.nav {
    background-color: #b84a00;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-words {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 500;
}

.nav-words h2 {
    text-align: center;
}

.botao {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;

}

.botao i {
    font-size: 25px;
    color: #ff8534;
}


.barra-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 250px;
    background-color: #ffb888;
    border: 2px solid #ff8534;
    margin: 10px auto;
    border-radius: 40px;
    font-family: 'Quicksand', sans-serif;

}

.barra-pesquisa h4 {
    margin-left: 10px;
    color: #ff6600;
}

.barra-pesquisa i {
    margin-right: 10px;
    color: #ff6600;
}


.continuar-assistindo h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.continuar-assistindo h2::after {
    content: "";
    display: block;
    width: 180px;
    height: 3px;
    background-color: #ff8534;
    border-radius: 30px;
}

.continuar-assistindo img {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    filter: brightness(75%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.barra-tempo {
    position: relative;
    width: 150px;
    margin-top: -9px;
    margin-left: 5px;
    height: 5px;
    background-color: red;
    z-index: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.barra-tempo::after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: rgb(0, 0, 0, 0.50);
    margin-left: 150px;

}
.continuar-assistindo .caixa-foto div:nth-of-type(4){
    display: none;
}

.caixa-foto {
    display: flex;
    overflow-x: auto;
    font-family: 'Quicksand', sans-serif;
}

.caixa-foto::-webkit-scrollbar {
    display: none;
}
.mais-cursos .caixa-foto div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caixa-foto h5{
    margin-left: 10px;
    margin-bottom: 10px;
}
.mais-cursos .caixa-foto div:last-child{
    display: none;
}

.mais-cursos h2 {
    margin: 10px 5px 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;

}
.mais-cursos .caixa-foto h3::after{
    content: "";
    display: block;
    margin-top: 2px;
    height: 3px;
    width: 138px;
    background-color: #ff8534;
    border-radius: 20px;;
}

.mais-cursos h2::after {
    content: "";
    display: block;
    height: 3px;
    width: 83px;
    background-color: #ff8534;
    border-radius: 20px;
}

.mais-cursos img {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}



@media screen and (min-width:690px) {
    .menu{
        margin-top: 10px;
    }
    .continuar-assistindo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .continuar-assistindo h2{
        font-size: 28px;
    }
    .continuar-assistindo h2::after{
        width: 269px;
    }
    
    .mais-cursos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

    }
    .mais-cursos img{
        width: 90%;
        
    }
    .mais-cursos h2{
        font-size: 28px;
    }
    .mais-cursos h2::after{
        width: 91px;
    }
    .sidebar img{
        
        width: 149px;
        height: 131px;
    
}
.menu{
    top:52%
}
.menu h3{
    font-size: 17px;
}
   
    
}
@media screen and (min-width:1024px) {
    .mais-cursos .caixa-foto div:last-child{
        display: flex;
    }
    .continuar-assistindo .caixa-foto div:nth-of-type(4){
        display: block;
    }
    .sidebar{
        width: 17%;
    }
}

@media screen and (min-width:1440px) {
    .menu{
        margin-top: 0px;
    }
    
   
  
    .mais-cursos{
        margin-top: 20px;
    }
   
    .mais-cursos img{
        width: 100%;
        margin-top: 10px;
    }
    
    .mais-cursos .caixa-foto div{
        margin: 0 20px  ;

    }

}