* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;


}

body {
    background: linear-gradient(#4d1f00, #d75600);
    background-size: 100% 100%;
}

.form {
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgb(255 255 255/25%);
    font-family: 'Quicksand', sans-serif;
    max-width: 520px;


}

.form h3 {
    margin-top: 10px;
    color: white;
}

.form span {
    position: relative;
    font-size: 32px;
}

.form span:last-of-type {
    position: relative;
    font-size: 32px;
    color: #ff8534;
}

.Input-container:focus,
:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0;

}

.Input-container input {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

.Input-container input:focus,
:focus-visible[type=text] {
    outline: none;
    box-shadow: 0 0 0 0;

}

.input-submit-container-login [type=button] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ff791f;
    border-bottom: 3px solid #b84a00;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: rgb(225, 225, 225);
    cursor: pointer;
    transition: all 1s ease;

}

.input-submit-container-login:hover [type=button] {
    background-color: #b84a00;
    border-bottom: 3px solid #ff791f;
}

.input-submit-container [type=button] {
    width: 100%;
    height: 40px;
    margin: 20px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ff791f;
    border-bottom: 3px solid #b84a00;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: rgb(225, 225, 225);
    cursor: pointer;
    transition: all 1s ease;
}

.input-submit-container:hover [type=button] {
    background-color: #b84a00;
    border-bottom: 3px solid #ff791f;
}

.fotos {
    width: 10px;
    height: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

.fotos img {
    width: 10px;
    height: 10px;

}

.fotos .set {
    position: absolute;
    width: 99%;
    height: 50%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.fotos .set div {
    position: absolute;
    display: block;
}

.fotos img:nth-child(1) {

    animation: animate 15s linear infinite;
    /* margin-left: 171%; */
    position: relative;
    left: 57%;
}

.fotos img:nth-child(2) {
    animation: animate 18s linear infinite;
    /* margin-left: 5%; */
    position: relative;
    left: 63%;
}

.fotos img:nth-child(3) {
    animation: animate 24s linear infinite;
    /* margin-left: 10%; */
    position: relative;
    left: 67%;
}

.fotos img:nth-child(4) {
    animation: animate 29s linear infinite;
    /* margin-left: 56%; */
    position: relative;
    left: 72%;

}

.fotos img:nth-child(5) {
    animation: animate 17s linear infinite;
    /* margin-left: 67%; */
    position: relative;
    left: 75%;
}

.fotos img:nth-child(6) {
    animation: animate 28s linear infinite;
    /* margin-left: 79%; */
    position: relative;
    left: 79%;
}

.fotos img:nth-child(7) {
    animation: animate 24s linear infinite;
    /* margin-left: 93%; */
    position: relative;
    left: 83%;
}

.fotos img:nth-child(8) {
    animation: animate 16s linear infinite;
    /* margin-left: 114%; */
    position: relative;
    left: 85%;
}

.fotos img:nth-child(9) {
    animation: animate 22s linear infinite;
    /* margin-left: 122%; */
    position: relative;
    left: 88%;
}

.fotos img:nth-child(10) {
    animation: animate 27s linear infinite;
    /* margin-left: 140%; */
    position: relative;
    left: 90%;

}

.fotos img:nth-child(11) {
    animation: animate 25s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 90%;
}
.fotos img:nth-child(12) {

    animation: animate 16s linear infinite;
    /* margin-left: 171%; */
    position: relative;
    left: 15%;
}

.fotos img:nth-child(13) {
    animation: animate 18s linear infinite;
    /* margin-left: 5%; */
    position: relative;
    left: 20%;
}

.fotos img:nth-child(14) {
    animation: animate 24s linear infinite;
    /* margin-left: 10%; */
    position: relative;
    left: 25%;
}

.fotos img:nth-child(15) {
    animation: animate 27s linear infinite;
    /* margin-left: 56%; */
    position: relative;
    left: 30%;

}

.fotos img:nth-child(16) {
    animation: animate 21s linear infinite;
    /* margin-left: 67%; */
    position: relative;
    left: 35%;
}

.fotos img:nth-child(17) {
    animation: animate 23s linear infinite;
    /* margin-left: 79%; */
    position: relative;
    left: 40%;
}

.fotos img:nth-child(18) {
    animation: animate 23s linear infinite;
    /* margin-left: 93%; */
    position: relative;
    left: 45%;
}

.fotos img:nth-child(19) {
    animation: animate 19s linear infinite;
    /* margin-left: 114%; */
    position: relative;
    left: 50%;
}

.fotos img:nth-child(20) {
    animation: animate 16s linear infinite;
    /* margin-left: 122%; */
    position: relative;
    left: 55%;
}

.fotos img:nth-child(21) {
    animation: animate 20s linear infinite;
    /* margin-left: 140%; */
    position: relative;
    left: 40%;

}

.fotos img:nth-child(22) {
    animation: animate 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 30%;
}
.fotos img:nth-child(23) {
    animation: animate 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 10%;
}
.fotos img:nth-child(24) {
    animation: animate 17s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 5%;
}
.fotos img:nth-child(25) {
    animation: animate 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 1%;
}
.fotos img:nth-child(26) {
    animation: animate 30s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -10%;
}
.fotos img:nth-child(27) {
    animation: animate 18s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -5%;
}
.fotos img:nth-child(28) {
    animation: animate 28s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -12%;
}
.fotos img:nth-child(29) {
    animation: animate 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -27%;
}
.fotos img:nth-child(30) {
    animation: animate 16s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -15%;
}
.fotos img:nth-child(31) {
    animation: animate 27s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -20%;
}
.fotos img:nth-child(32) {
    animation: animate 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -25%;
}
.fotos img:nth-child(33) {
    animation: animate 25s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -29%;
}
.fotos img:nth-child(34) {
    animation: animate2 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -29%;
}
.fotos img:nth-child(35) {
    animation: animate2 18s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -29%;
}
.fotos img:nth-child(36) {
    animation: animate2 29s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -28%;
}
.fotos img:nth-child(37) {
    animation: animate2 16s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -27%;
}
.fotos img:nth-child(38) {
    animation: animate2 28s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -26%;
}
.fotos img:nth-child(39) {
    animation: animate2 25s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -25%;
}
.fotos img:nth-child(40) {
    animation: animate2 23s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -24%;
}
.fotos img:nth-child(41) {
    animation: animate2 28s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -23%;
}
.fotos img:nth-child(42) {
    animation: animate2 17s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -22%;
}
.fotos img:nth-child(43) {
    animation: animate2 21s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -21%;
}
.fotos img:nth-child(44) {
    animation: animate2 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -20%;
}
.fotos img:nth-child(45) {
    animation: animate2 29s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -19%;
}
.fotos img:nth-child(46) {
    animation: animate2 26s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -18%;
}
.fotos img:nth-child(47) {
    animation: animate2 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -17%;
}
.fotos img:nth-child(48) {
    animation: animate2 24s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -16%;
}
.fotos img:nth-child(49) {
    animation: animate2 29s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -15%;
}
.fotos img:nth-child(50) {
    animation: animate2 18s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -14%;
}
.fotos img:nth-child(51) {
    animation: animate2 21s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -13%;
}
.fotos img:nth-child(52) {
    animation: animate2 25s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -12%;
}
.fotos img:nth-child(53) {
    animation: animate2 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -11%;
}
.fotos img:nth-child(54) {
    animation: animate2 33s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -10%;
}
.fotos img:nth-child(55) {
    animation: animate2 24s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -9%;
}
.fotos img:nth-child(56) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -8%;
}
.fotos img:nth-child(57) {
    animation: animate2 19s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -7%;
}
.fotos img:nth-child(58) {
    animation: animate2 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -6%;
}
.fotos img:nth-child(59) {
    animation: animate2 28s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -5%;
}
.fotos img:nth-child(60) {
    animation: animate2 23s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -4%;
}
.fotos img:nth-child(61) {
    animation: animate2 16s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -3%;
}
.fotos img:nth-child(62) {
    animation: animate2 19s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -2%;
}
.fotos img:nth-child(63) {
    animation: animate2 30s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -2%;
}
.fotos img:nth-child(64) {
    animation: animate2 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -1%;
}
.fotos img:nth-child(65) {
    animation: animate2 29s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 1%;
}
.fotos img:nth-child(66) {
    animation: animate2 24s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 2%;
}
.fotos img:nth-child(67) {
    animation: animate2 30s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 3%;
}
.fotos img:nth-child(68) {
    animation: animate2 18s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 4%;
}
.fotos img:nth-child(69) {
    animation: animate2 17s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 5%;
}
.fotos img:nth-child(70) {
    animation: animate2 21s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 6%;
}
.fotos img:nth-child(71) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 7%;
}
.fotos img:nth-child(72) {
    animation: animate2 19s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 8%;
}
.fotos img:nth-child(73) {
    animation: animate2 29s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 9%;
}
.fotos img:nth-child(74) {
    animation: animate2 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 10%;
}
.fotos img:nth-child(75) {
    animation: animate2 27s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 11%;
}
.fotos img:nth-child(76) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 12%;
}
.fotos img:nth-child(77) {
    animation: animate2 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 13%;
}
.fotos img:nth-child(78) {
    animation: animate2 25s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 14%;
}
.fotos img:nth-child(79) {
    animation: animate2 23s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 15%;
}
.fotos img:nth-child(80) {
    animation: animate2 28s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 16%;
}
.fotos img:nth-child(81) {
    animation: animate2 18s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 17%;
}
.fotos img:nth-child(82) {
    animation: animate2 20s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 18%;
}
.fotos img:nth-child(83) {
    animation: animate2 16s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 19%;
}
.fotos img:nth-child(84) {
    animation: animate2 29s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 20%;
}
.fotos img:nth-child(85) {
    animation: animate2 22s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 21%;
}
.fotos img:nth-child(86) {
    animation: animate2 19s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: 22%;
}
.fotos img:nth-child(87) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -76%;
}
.fotos img:nth-child(88) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -74%;
}
.fotos img:nth-child(89) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -71%;
}
.fotos img:nth-child(90) {
    animation: animate2 15s linear infinite;
    /* margin-left: 172%; */
    position: relative;
    left: -67%;
}

/*  */

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(-20px) ;
    }

    50% {
        opacity: 1;
        transform: translateY(300px);
    }


    100% {
        opacity: 0;
        transform: translateY(700px);
    }
}

@keyframes animate2{
    0%{
        opacity: 0;
        transform: translateY(700px);
    }
    50%{
        opacity: 1;
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(-20px);
    }
}